<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Web Site</title>
    @RenderSection("Header", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
